<div class="popup-size">
    <h1 mat-dialog-title>Teachers</h1>
    <div mat-dialog-content>
        <mat-grid-list cols="1" rowHeight="100">

                <mat-grid-tile>
                        <mat-form-field class="example-full-width components" appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Student name" type="text" [(ngModel)]="name">
                          </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                          <mat-form-field class="example-full-width components" appearance="fill">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Student name" type="text" [(ngModel)]="apellidos">
                          </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                          <mat-form-field appearance="fill" class="components">
                            <mat-label>Gender</mat-label>
                            <mat-select [(ngModel)]="genero">
                              <mat-option *ngFor="let gender of Gender" [value]="gender.value">
                                {{gender.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                </mat-grid-tile>

          </mat-grid-list>
    </div>
    <mat-dialog-actions align="end">
        <div *ngIf="isShownSave">
          <button mat-raised-button (click)="saveTeacher()"> Save</button>
        </div>
          <div *ngIf="isShown">
            <button mat-raised-button (click)="updateTeacher()"> Update</button>
          </div>
          
          <button mat-raised-button (click)="closeDialog()"> Close</button>
        </mat-dialog-actions>
</div>
