<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <mat-toolbar>
      
        <mat-icon>school</mat-icon>

      <span> School System</span>

    </mat-toolbar>
    <mat-sidenav-container class="example-container" >
      <mat-sidenav mode="side" opened>
        <mat-nav-list>
          <mat-list-item [routerLink]="'/students'"> <mat-icon>perm_identity</mat-icon> Students</mat-list-item>
          <mat-list-item [routerLink]="'/teachers'"> <mat-icon>work</mat-icon> Teachers</mat-list-item>
          <mat-list-item [routerLink]="'/grades'"> <mat-icon>format_list_numbered_rtl</mat-icon> Grades</mat-list-item>
          <mat-list-item [routerLink]="'/groups'"> <mat-icon>groups</mat-icon> Groups</mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
    </mat-sidenav-container>

  </body>
</html>

