<div class="popup-size">
    <h1 mat-dialog-title> Group: {{data.grupo}} </h1>
    <div mat-dialog-content>
       {{data.profesor}} 
       <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Grade Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef class="hearder_table"> Students </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} {{element.apellidos}}</td>
          </ng-container>
        <ng-container matColumnDef="actions"  >
          <th mat-header-cell *matHeaderCellDef class="hearder_table"> Actions </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-button >
              <mat-icon>
                <span class="material-symbols-outlined" >
                  group_add
                  </span>
              </mat-icon>
            </button>
          </td>
        </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="HeaderColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: HeaderColumns;"></tr>
                </table>
      
                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons 
                aria-label="Select page of periodic elements">
              </mat-paginator>
    
      </div>
        
    </div>
    <div mat-dialog-actions  align="end">
            <div>
             <button mat-raised-button (click)="onNoClick()"  ngDefaultControl>Close</button>
            </div>
    </div> 
</div>
 